/* Ads */
#sidebar_ads_container,
.ibautomotive,
aside[id^="div-gpt-ad"],
.large-ads,
.top-large-ads {
	display: none;
}

/* subscription nag */
#vbseo_vhtml_0,
form#notices {
	display: none;
}

/* search nag */
td:nth-of-type(1) > div:nth-of-type(1) > strong {
	display: none;
}

/* social crap */
.fb_iframe_widget,
#___plusone_0,
#___plusone_1,
#twitter-widget-0,
#twitter-widget-1,
a[href="https://www.reddit.com/submit"] {
	display: none !important;
}
